<!DOCTYPE html>
<html lang="es">
  <head>
  	<meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/bower_components/normalize-css/normalize.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <nav class="nav">
      <ul>
        <li class="date">
          <script>
            <!--
              var dayNames = ["Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"];

              var now = new Date();
              document.write('Feliz ' + dayNames[now.getDay()] + '.');
            -->
          </script>
        </li>

        <li>
          <a href="#">Servicios</a>
        </li>
        <li>
          <a href="#">Contactos</a>
        </li>
      </ul>
    </nav>

    <div class="container">
      
      <header class="header">
        <h1 class="logotipo">
          <a href="/" title="CriptonLabs.com.ar">
            <img src="/images/logo_criptonlabs.png" alt="CriptonLabs" width="300">
          </a>
        </h1>
        <h2>
          Nuestra misión es crear la mejor experiencia con la que el mundo utiliza la web.
        </h2>
      </header>

      <section class="services">
        
        <article>
          <h2>Aplicaciones Mobile</h2>
          <p>
            Desarrollamos aplicaciones para dispositivos con Android.
          </p>
        </article>

        <article class="mid">
          <h2>Aplicaciones Web</h2>
          <p>
            Desarrollamos aplicaciones escalables, innovadoras y seguras para la web. Hacemos que tu idea se haga realidad.
          </p>
        </article>

        <article>
          <h2>Consultoria</h2>
          <p>
            En Cripton Labs te brindamos el soporte y asesoria necesaria en el proceso de creación de tu plataforma digital antes y durante el crecimiento de tu proyecto.
          </p>
        </article>

      </section>

      <section class="contact_info">

        <h2>Contacto</h2>
        
        <p>Envianos un <a href="mailto:hola@criptonlabs.com">e-mail</a> para cualquier consulta que quieras hacernos a <a href="mailto:hola@criptonlabs.com">hola@criptonlabs.com</a>.</p>

      </section>

    </div>

    <footer class="footer">
      <p>© 2013 Cripton Labs</p>
    </footer>



    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
  </body>
</html>